ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  height: 38px !important;
}

.regions-panel {
  display: block;
  width: 225px;
  top: 90px;
  .listel {
    font-weight: bold;
    height: 38px !important;
  }
}

#rgo {
  font-size: 15px;
  line-height: 15px;
}

.listel {
  position: relative;
  margin: 0 2px 0 2px;
  padding: 3px 3px 3px 7px;
  background-color: #fffeb7;
  border: solid 1px #afa76f;
  border-radius: 5px;
  line-height: 33px;
  font-family: 'play', sans-serif;
  font-size: 15px;
  font-weight: normal;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  height: 30px !important;
  width: 210px;

  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  z-index: 5000;

  &:hover {
    background-color: #E2C788;
  }
}

.units-list {
  height: 477px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 2px;
  font-size: 12px;
  line-height: 15px;
  img {
    width: 25px;
    height: 32px;
  }
}

.units-panel {
  width: 350px;
}

.units-listel {
  margin: 0 2px 0 2px;
  padding: 3px 3px 3px 7px;
  background-color: #fffeb7;
  background: linear-gradient(to top, #fffeb7, #ffe978);
  border: solid 1px #afa76f;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  height: 43px !important;
  vertical-align: middle;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  img {
    float: left;
  }
}

.units-listel:hover {
  background-color: #ffc859;
  border-color: #d2c168;
  background: linear-gradient(to top, #ffc859, #c69828);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.unit_name_text {
  width: 220px;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  /*font-family: 'play', sans-serif;*/
  font-weight: bold;
  float: left;
  margin: 0 5px;
  line-height: 12px;
  vertical-align: bottom;
}

.school_rate {
  /*display: none;*/
  width: 36px;
  height: 36px;
  /*position: relative;*/
  /*left: 180px;*/
  /*top: -35px;*/
  line-height: 36px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  float: left;
}

.noOO{
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #817b50;
  background-color: #fffeb7;
  text-align: center;
}